* {
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Rubik';
}

:root {
    --big-crad-witdh: 300px;
    --big-crad-heigt: 550px;
    --text-grey: rgb(180,180,180);

}


.atf-img {
    background-color: rgb(247,248,252);
    height: 100vh;
    background-image: url("./img/pokedex_backround.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -10;
}
  

.edit-bg {
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    width: 100vw;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    backdrop-filter: blur(2px);
}


.pokedex {
    color: white;
}


.pokedex-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-top: 100px;
}


.center-position {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex-wrap: nowrap;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    width: 100vw;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(2px);

}


.pokedex-content-bkrlogo {
    bottom: 2px;
    height: 140px;
    width: 140px;
    right: 21px;
    z-index: 0;
    position: absolute;
}

.pokedex-content-bkrlogo-small {
    bottom: 0px;
    right: -10px;
    position: absolute;
}


.pokedex-content {
    border-radius: 20px;
    width: var(--big-crad-witdh);
    height: var(--big-crad-heigt);
    overflow: hidden;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.14);
    border: 1px solid rgba(0, 0, 0, 0.1);
}


.pokedex-content-small {
    border-radius: 20px;
    width: var(--big-crad-witdh);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
    border: 2px solid rgba(0, 0, 0, 0);
    height: 200px;
    overflow: hidden;
    margin-bottom: 10px;
    margin-right: 10px;
    cursor: pointer;
    transition: box-shadow 75ms ease-in-out;
    transition: border 75ms ease-in-out;
}

.pokedex-content-small:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
    border: 2px solid rgba(0, 0, 0, 0.3);
    
}


.pokedex-header {
    padding: 10px;
    height: 40%;
    color: white;
    position: relative;
}

.pokedex-header-small {
    padding: 10px;
    height: 100%;
    color: white;
    position: relative;
}


#pokemon-info {
    padding: 10px;
    color: black;
    margin-top: 0px;
    height: 61%;
    background-color: white;
    border-radius: 20px;
}

.poke-img-container {
    height: 74%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    z-index: 1;
}

.poke-img-container-small {
    height: 65%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    z-index: 1;
    margin-right: 20px;
}


.pokemon-img-big {
    height: 135px;
}

.pokemon-img-small {
    height: 100px;
    transition: height 75ms ease-in-out;
}

.next-like-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}


.menu-bar {
    color: white;
    background-color: rgb(215,31,55);
    height: 80px;
    width: 100vw;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
    margin-bottom: 50px;
    position: fixed;
    z-index: 5;
    padding: 0px 10px;
}

.logo-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
}


.type-container {
    height: 15px;
    margin-top: 10px;
}


.pokemon-type {
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.2);
    margin-right: 5px;
    margin-top: 10px;
    width: 80px;
    text-align: center;
}


.d-none { 
    display: none !important;
} 


/* CSS für die Herzfüllung-Animation */
@keyframes fillHeart {
    0% {
        fill: none;
    }
    100% {
        fill: white;
    }
}

.clicked {
    animation: fillHeart 0.3s ease forwards;
}


.d-flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.card-grass {
    background-color: rgb(72,208,175);
}


.card-fire {
    background-color: rgb(251,108,108);
}


.card-water {
    background-color: rgb(117,189,253);
}

.card-electric {
    background-color: rgb(255,215,111);
}

.card-psychic {
    background-color: rgb(255, 132, 234);
}

.card-dragon {
    background-color: rgb(77,100,171);
}

.card-ice {
    background-color: rgb(104,186,172);
}

.card-normal {
    background-color: rgb(168,168,153);
}

.card-bug {
    background-color: rgb(131,173,37);
}

.card-poison {
    background-color: rgb(134,74,184);
}

.card-ground {
    background-color: rgb(149,104,51);
}

.card-fairy {
    background-color: rgb(212,128,207);
}

.card-fighting {
    background-color: rgb(168,76,61);
}

.card-rock {
    background-color: rgb(168,153,91);
}

.card-ghost {
    background-color: rgb(99,60,100);
}

.info-header-container {
    color: var(--text-grey);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}

.info-header-menu {
    padding-bottom: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    text-decoration: none;
    color: var(--text-grey);
}


.info-header-menu:hover {
    padding-bottom: 10px;
    color: black;
}


.info-header-selected {
    padding-bottom: 10px;
    color: black;
    border-bottom: 1px solid black;
}

.card-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.card-info-key {
    color: var(--text-grey);
    margin-right: 40px;
    margin-top: 10px;
    font-size: 12px;
    width: 29%;
}

.card-info-value {
    color: black;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 12px;
}

.moves {
    padding: 5px 10px;
    border-radius: 15px;
    background-color: rgba(255, 149, 0, 0.2);
    text-align: center;
}

.movesContent {
    overflow: scroll;
    height: 87%;
    flex-wrap: wrap;
    display: flex;
    padding-bottom: 15px;
}

.button-effect {
    padding: 2px 5px;
    cursor: pointer;
    border-radius: 100%;
}


.button-effect:hover {
    background-color: rgba(0, 0, 0, 0.2);
}


.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-20 {
    margin-right: 20px;
}

.mr-30 {
    margin-right: 30px
}



